h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    text-align: center;
    background-color: rgb(58, 185, 147);
}

p{
    font-size: 22px;
    line-height: 30px;
    text-indent: 30px;
    background-color: rgb(127, 201, 176);
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  /* Horizontal and vertical alignment */
.centerXY {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:hoover {
    font-weight: bolder;
  }

  #gitHubRepo {
    position: fixed;
    left:0;
    bottom:40px;
    margin-left: 10px;
  }

  #edamam-badge {
    position: fixed;
    left:0;
    bottom:0;
  } 

  input[type=text] {
    background-color: #d3bdbd;
    color: white;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #555;
   
}




